        .navbar {
            padding: 13px;
            background: linear-gradient(37deg, rgba(0, 42, 76, 0.314), rgba(3, 150, 230, 0.35)) rgb(48, 84, 139);
        }

        #logo {
            margin-bottom: 0.4cm;
            height: 1.9cm;
            width: 1.9cm;
        }

        #whole-logo {
            height: 1.1cm;
            margin: 0.7cm -0.2cm 0.3cm;
        }

        .numsItem {
            display: inline-block;
            text-align: center;
            margin: 0.2cm 0.2cm;
            padding: 0.3cm;
            min-width: 3cm;
            background-color: white;
        }

        .numsItem:hover {
            background-color: #f9f9f9;
        }

        body {
            font-family: Helvetica, Tahoma, Arial, STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑", SimSun, "宋体", Heiti, "黑体", sans-serif;
        }

        .bd-footer {
            font-size: .875rem;
            color: #63707c;
        }

        .bd-footer a {
            font-weight: 600;
            color: #495057;
        }

        .meta {
            display: inline-block;
            margin: auto 0.3cm auto auto;
        }

        .attr {
            font-size: 0.7em;
        }

        .cont {
            font-size: 0.9em;
        }

        .card a {
            text-decoration: none;
            background-color: #ffffff;
            color: black;
        }

        .card a:hover {
            text-decoration: none;
            background-color: #eeeeee;
        }

        .circled-icon {
            display: inline-block;
            border-radius: 60px;
            box-shadow: 0 0 10px #888;
            padding: 25px;
            margin: 30px 0;
            font-size: 2.5rem;
            line-height: 2.5rem;
            background: #3f51b5;
            color: white !important;
            border: white;
        }

        .Avatar {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            box-sizing: content-box;
            color: #fff;
            vertical-align: top;
            background-color: var(--avatar-bg);
            font-weight: 400;
            width: var(--size);
            height: var(--size);
            border-radius: 100%;
            font-size: calc(var(--size)/2);
        }