<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="review redirect">
                    <match url="^reviews/([_0-9a-z-]+)/([_0-9a-z-]+)" />
                    <action type="Rewrite" url="reviews.html?course={R:1}&amp;instructor={R:2}" />
                </rule>
                <rule name="course redirect">
                    <match url="^course/([_0-9a-z-]+)" />
                    <action type="Rewrite" url="course.html?course={R:1}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>