.main_box_header {
  width: 100%;
  height: 1.3cm;
  background-color: #212121;
}

.course_id,
.course_info_h2 {
  line-height: 1em;
  color:#ffffff;
}

.judge_table {
  margin: 0.3cm auto;
  border: 0.1cm solid #FAFAFA;
  width: calc(4.5cm + 30%);
  background-color: #424242;
  color: #ffffff;
}

.input_info {
  border: none;
  background-color: #FAFAFA;
  color: #424242;
  font-size: 0.5cm;
  width:90%;
  border: 1px solid #212121;
  border-style: none none solid none;
  margin:0 0 0 0.5cm;
}

.input_label {
  color: #212121;
  font-size: 0.3cm;
  margin:0 0 0.3cm 0.5cm;
}

.btn_query {
  background-color: #212121;
  border: 6px solid #212121;
  color: #ffffff;
  font-size: 0.45cm;
  margin:0.5cm 0 0.5cm 0.5cm;
}

#umeh_main_interactive {
  padding:0 0 0 0;
  color: #212121;
  width: calc(5.5cm + 30%);
  background-color: #FAFAFA;
  margin: 1.3cm auto 1cm auto;
  box-shadow: 0 2px 20px rgba(255, 255, 255, 0.2);
}

.header_info_container {
  background-color:#212121;
  border: 0.3cm solid #212121;
  margin:0 auto 0.5cm auto;
  padding:0 0 0 0.5cm;
}