/* =====主页面框架布局===== */

html,
body {
  font-family: "Noto Sans TC", sans-serif;
  height: 100%;
  margin: 0 0;
}

/* =====侧边栏布局===== */

/* side_box: 一个页面上只能有一个，侧边栏主容器 */

.side_box {
  width: 8cm;
  height: 100%;
  padding: 0;
  background-color: #bdbdbd;
  position: absolute;
  top: 0cm;
  left: 0cm;
}

/* side_box_entry: 侧边栏的菜单项，注意高度是固定的 */

.side_box_entry {
  width: calc(100% - 1.3cm);
  height: 1.3cm;
  margin: 0 auto;
  padding: 0 0 0 1.3cm;
  cursor: pointer;
}

/* 侧边栏图标 */

.side_box_icon {
  height: 1.3cm;
  width: 1.3cm;
  margin: 0 auto 0 0;
  position: relative;
  top: 0;
  left: -1.3cm;
}

/* 侧边栏文字 */

.side_box_text {
  position: relative;
  top: -0.43cm;
  left: -0.8cm;
  font-size: 0.6cm;
  text-decoration-line: none;
  font-family: "Noto Sans TC", sans-serif;
}

/* =====主视图布局===== */

/* main_box: 主视图box，一个页面上只能有一个 */

.main_box {
  width: calc(100% - 8cm);
  height: 100%;
  padding: 0;
  position: absolute;
  top: 0cm;
  left: 8cm;
  background-image: url("../images/background.png");
  background-repeat: fixed;
  background-size: cover;
  background-position: center 0;
}

/* =====移动端适配===== */

@media (max-width: 20cm) {
  /* =====顶栏（大屏侧边栏）布局===== */

  /* side_box: 一个页面上只能有一个，顶栏主容器 */

  .side_box {
    width: 100%;
    height: 1.3cm;
    padding: 0;
    position: absolute;
    top: 0cm;
    left: 0cm;
    display: flex;
  }

  /* side_box_entry: 顶栏的菜单项，注意高度和高度是固定的 */

  .side_box_entry {
    height: 1.3cm;
    padding: 0 0 0 0;
    float: left;
    cursor: pointer;
  }

  /* 隐藏介绍文字 */

  .side_box_text {
    display: none;
  }

  /* 侧边栏图标 */

  .side_box_icon {
    height: 1.3cm;
    width: 1.3cm;
    margin: 0 auto;
    position: relative;
    top: 0cm;
    left: calc(50% - 0.65cm);
  }

  /* 主div */
  .main_box {
    width: 100%;
    height: calc(100% - 1.3cm);
    padding: 0;
    position: absolute;
    top: 1.3cm;
    left: 0;
    background-image: url("../images/background.png");
    background-repeat: fixed;
    background-size: cover;
    background-position: center 0;
  }
}
